ul {
	list-style-type: none;
}

li {
	padding: 0.25rem;
	width: fit-content;
	text-wrap: nowrap;
}

li:hover {
	background-color: #aaaaaa;
	border-radius: 0.25rem;
}

a {
	text-decoration: none;
	color: blue;
}

body {
	font-size: 4vh;
}
