<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<title>{{path}}</title>
	<style>
		@import "https://www.nerdfonts.com/assets/css/webfont.css"
	</style>
</head>
<body>
	<!-- current and previous directory -->
	<i class="{{ './' | icon_name }}"></i> <a href='./'>./</a> <br>
	<i class="{{ '../' | icon_name }}"></i> <a href='../'>../</a> <br>
	{% for item in items %}
		<i class="{{ item | icon_name }}"></i> <a href='{{path + item}}'>{{item}}</a> <br>
	{% endfor %}
</body>
</html>
