<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<title>{{path}}</title>
	<style>
		@import "https://www.nerdfonts.com/assets/css/webfont.css"
	</style>
	<link rel='stylesheet' href='{{url_for('static', filename='style.css')}}'></link>
	<script src='{{url_for('static', filename='search.js')}}' defer></script>
</head>
<body>
	<div id="searchBar">
		<i class="nf nf-fa-home" onclick="window.location.href = window.location.origin"></i>&nbsp;
		<input placeholder="Search" autofocus></input>&nbsp;<i class="nf nf-fa-search"></i>
	</div>
	<h3>Current directory: {{path}}</h3>
	<ul>
		<!-- current and previous directory -->
		<li><a href='./'><i class="{{ './' | icon_name }}"></i> ./</a></li>
		<li><a href='../'><i class="{{ '../' | icon_name }}"></i> ../</a></li>
		{% for item in items %}
		<li>
			{% if path[-1] != '/' %}
				<a href='{{path + '/' + item}}'><i class="{{ item | icon_name }}"></i> {{item}}</a>
			{% else %}
				<a href='{{path + item}}'><i class="{{ item | icon_name }}"></i> {{item}}</a>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</body>
</html>
